<!DOCTYPE html>
<html ng-app="ng-hoodie-demo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>ng-hoodie-demo</title>

    <!-- build:css css/ng-hoodie-demo.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/angular-growl/build/angular-growl.min.css"/>
    <link rel="stylesheet" href="vendor/animate.css/animate.css"/>
    <!-- endbower -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->
</head>
<body>
 <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="">fme</a>
    </div>
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/#projects">Projects</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="signup()">Sign Up</a></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" ng-view></div>
<div growl></div>

<!-- build:js js/ng-hoodie-demo.js -->
<!-- bower:js -->
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="vendor/angular-route/angular-route.js"></script>
<script type="text/javascript" src="vendor/angular-growl/build/angular-growl.js"></script>
<script type="text/javascript" src="vendor/angular-animate/angular-animate.js"></script>
<!-- endbower -->
<script src="/_api/_files/hoodie.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/mainController.js"></script>
<script type="text/javascript" src="js/controllers/loginController.js"></script>
<script type="text/javascript" src="js/controllers/projectController.js"></script>
<script type="text/javascript" src="js/services/projectService.js"></script>
<!-- endbuild -->

</body>
</html>