<div class="page-header">
    <h1>Login</h1>
</div>
<div class="row">
    <form role="form">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" ng-model="username" class="form-control" id="username" placeholder="username">
            </div>
            <div class="form-group">

                <input type="password" ng-model="password" class="form-control" id="password" placeholder="password">
            </div>

            <button ng-click="login()" class="btn btn-primary">login</button>
        </div>
    </form>
</div>