<div class="page-header">
    <h1>Projects</h1>
</div>
<div class="row">
    <form role="form">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" ng-model="newProjectTitle" class="form-control" id="title" placeholder="Project Title" />
            </div>
            <div class="form-group">

                <textarea ng-model="newProjectDescription" class="form-control" id="description" placeholder="Project Description"></textarea>
            </div>

            <button ng-click="save(newProjectTitle,newProjectDescription)" class="btn btn-primary">Save</button>
        </div>
    </form>

    <div class="list-group col-sm-6">
      <div href="#" class="list-group-item animate-item" ng-repeat="project in projects | orderBy:'title'">
        <h4 class="list-group-item-heading">{{project.title}} <a href class="btn pull-right" ng-click="remove(project)">X</a></h4>
        <p class="list-group-item-text">{{project.description}} </p>
      </div>
    </div>
</div>