.message {
    color : white;
    background-color: #27ae60;
    padding: 20px 30px;
}

.animate-item.ng-leave{
    -webkit-animation: zoomOutRight 1.5s;
    animation: zoomOutRight 1.5s;
}
.animate-item.ng-enter{
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}